
.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.select-menu{
    width: 250px;
    margin-right: .5em;
}
.select-menu .select-btn{
    display: flex;
    height: 70px;
    border: 1px solid #ff545a;
    border-radius: 4px;
    outline: none;
    background-color: #ff545a;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding:  20px;
}
.select-btn{
    transition: 0.5s;
}
.select-menu .select-btn i {
    color: #fff;
}
.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}
.select-menu .options{
    position: absolute;
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    border-radius:4px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 4px;
    align-items: center;
    background: #FFF;
}
.options .option:hover{
    background: #f2f2f2;
}
.option i{
    font-size: 35px;
    margin-right: 12px;
}
.select-btn .sBtn-text {
 color: #fff;
 font-size: 16px;
}
.option .option-text{
    color: #333;
    font-size: 16px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}
.search-btn {
    padding: 10px 20px;
    background-color: #ff5722;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.advanced-search {
    display: inline-block;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
    }
    
    .search-select,
    .search-input,
    .search-btn {
        margin: 5px 0;
    }
}
