
.year-filter,.author-filter,.document-filter,.source-filter,.affiliation-filter,.key-filter,.language-filter{
    border-bottom:  1px solid #2D4263;
}
.filter-sidebar {
    width: 400px;
    background-color: #cdcccc;
    padding: 20px;
    border: 1px solid #ddd;
}

.filter-sidebar h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.filters .dropdown .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #cdcccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filters .dropdown-toggle i {
    transition: transform 0.3s ease;
}
.filters .dropdown-toggle.active i {
    transform: rotate(-180deg);
}
.filters .dropdown-menu {
    display: none;
    position: relative;
    width: calc(100% - 0px); /* Adjust width based on parent padding */
    background-color: #cdcccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    z-index: 1000;
}

.filters .dropdown-menu label {
    display: block;
  
    align-items: center;
    margin-bottom: 5px;
}

.filters .dropdown-menu label input[type="checkbox"] {
    margin-right: 10px;
}

.filters .dropdown-menu label span {
    float: right;
    font-size: 12px;
    padding: 3px 6px;
    background-color: #e9e9e9;
    border-radius: 12px;
}

.dropdown .show-all {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: #e9e9e9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}